body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.bin, .keys {
    width: 250px; 
    object-fit: contain;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}